<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Birthday</title>

    <meta property="og:locale" content="en_GB"/>
    <meta property="og:title" content="Birthday"/>
    <meta property="og:description" content="A birthday is a day or anniversary where a person celebrates his or her date of birth."/>
    <meta property="og:type" content="simonsfoodapp:occasion"/>
    <meta property="og:url" content="https://morning-robot-5509.herokuapp.com/occasions/birthday"/>
    <meta property="og:image" content="http://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Birthday_candles.jpg/800px-Birthday_candles.jpg"/>
    <meta property="og:site_name" content="Simon's Food App"/>
    <meta property="fb:app_id" content="214109771989025" />

  </head>
  <body>
    
    <h1>Birthday</h1>
    <h2>A birthday is a day or anniversary where a person celebrates his or her date of birth.</h2>
    <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Birthday_candles.jpg/800px-Birthday_candles.jpg" />

  </body>
</html>