<p>Simon's Food App is the AirBnB of, well, its not really.</p>

<ul>
	<li>This app's code is on <a href="https://github.com/sicross/Simon-s-Food-App" target="_blank">GitHub</a></li>
	<li>Use this app in the <a href="https://developers.facebook.com/tools/explorer/214109771989025/" target="_blank">Facebook Graph API Explorer</a></li>
	<li>Presentation on OG on Mobile in <a href="http://dl.dropbox.com/u/94472/Mobile%20HACK%20EMEA%20-%20OG%20on%20Mobile.key" target="_blank">Keynote</a> and <a href="http://dl.dropbox.com/u/94472/Mobile%20HACK%20EMEA%20-%20OG%20on%20Mobile.pdf" target="_blank">PDF</a></li>
	<li>Pretty link to this: <a href="http://tinyurl.com/simonsfoodapp" target="_blank">http://tinyurl.com/simonsfoodapp</a></li>
	
</ul>