<% content_for :head do %>
    <title>Thai Green Curry</title>

    <meta property="og:locale" content="en_GB"/>
    <meta property="og:title" content="Thai Green Curry"/>
    <meta property="og:description" content="Get yo spice on!"/>
    <meta property="og:type" content="simonsfoodapp:recipe"/>
    <meta property="og:url" content="https://morning-robot-5509.herokuapp.com/recipes/thaigreencurry"/>
    <meta property="og:image" content="http://www.bbc.co.uk/food/images/food_16x9_448/recipes/thaigreenchickencurr_92440_16x9.jpg"/>

<% end %>
    
    <h1>Thai Green Curry</h1>
    <h2>Get yo spice on!</h2>
    <img src="http://www.bbc.co.uk/food/images/food_16x9_448/recipes/thaigreenchickencurr_92440_16x9.jpg" />
