body {}

#header {
	padding:20px;
	background:#ddd;
}

#header #apptitle {
	font-size:2em;
	padding-bottom: 10px;
}

#header #menu {
	display:inline;
}

#header #menu > div {
	display:inline-block;
	padding-right:20px;
}

#header #menu ul, #header #menu li {
	display:inline;
}

#fb-login {
	background-color:#eee;
	display:block;
	padding:10px 20px;
}
#fb-login {
	background-color:#eee;
	display:block;
	padding:10px 20px;
}
#fb-login-button {
	background:#3b5998;
	border-radius: 3px;
	padding:4px 6px;
	color:#dfe3ee;
	text-decoration:none;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-weight:bold;
	font-size:11px;
}

#fb-loggedin {
	display:none;
}

#content {
	padding:20px;
}
#content h1 {
	font-size:1.6em;
	padding-bottom:5px;
}

#content h2 {
	padding:0px 0px 12px 0px;
}

#content form {
	margin-bottom: 15px;
}
#content p {
	margin: 3px 0 6px 0;
}

#content ul{
	padding-left:10px;
}

#content li{
	list-style:disc;
}