body {
	text-align:center;
}

img {
	max-width:100%;
	width:100%;
}

#header {
	padding:10px;
}

#content {
	padding:0px;
}

form input[type="button"] {
	width: 90%;
	font-size:150%;
	margin:0 auto;
}