body {
	text-align:center;
}

img {
	max-width:100%;
	width:100%;
}

#header {
	padding:10px;
}


#header #menu { 
	display:block;
	position:relative;
}
#header #menu > div {
	display:inline;
	padding-right:0;
}

#header #menu ul {
	margin-bottom:10px;
	display:block;
}


#content {
	padding:10px 0 0 0;
} 

#fb-login-button {
	font-size:12px;
	padding:6px 12px;
}

form input[type="button"] {
	width: 90%;
	font-size:120%;
	margin:0 auto;
}